#content-area{
  margin-left: 280px;
  padding: 15px;

  .heading {
    h1 {
      color: $purple;
      font-size: 25px;
      font-weight: 350;
      margin-bottom:10px;
    }
    p {
      color: $blueLight;
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }
}
