$purpleLight: #302D43;
$purpleDark: #282639;
$greenNeon: #92CF48;
$greyLightBG: #F4F6F9;
$greyLightFont: #BBC1CD;
$greyLightFont2: #A5ADBD;
$greyDarkBG: #EAEDF3;
$greyDarkFont: #6C7882;
$blueLight:#9590DF;
$orange:#F48320;
$purple:#744BCE;
